.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid black;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.item-container {
  border: 1px solid black;
  width: 80%;
}

.submit-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 20%;
  padding: 10px;
}

.tags {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
}
